.login-form {
  max-width: 300px;
}
 .login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
.divForm{
position: absolute;
width: 300px;
height: 200px;
text-align: center;/
top: 50%;
left: 50%;
margin-top: 200px;
margin-left: -150px;





}
