<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<javascript>-->
    <!--var path1= "http://localhost:8080/video";-->
    <!--&lt;!&ndash;弹出框中播放&ndash;&gt;-->
    <!--back.view.popup.open({-->
    <!--title: "视屏播放",-->
    <!---->
    <!--location: point // Set the location of the popup to the clicked location-->
    <!--});-->
<!--</javascript>-->

content:'<video src='http://localhost:8080/video' width="300px" heigth="300px" controls="controls" autoplay></video>'

</body>
</html>